@charset "ISO-8859-1";
body
{
background-image:url("abstract.jpg");
background-repeat:no-repeat;
background-size:cover;
}
.checker{
font-family: "Arial Black";
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #1C29FF;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: capitalize;
}
#checkers
{
color: #FFFFFF;
text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
color: #FFFFFF;
font-size:15px;
text-decoration:bold;
}
#demotext {
color: #FFFFFF;
background: #b8b8b8;
text-shadow: 4px 3px 0 #7A7A7A;
color: #FFFFFF;
background: #b8b8b8;
text-decoration: bold;
}
input[type=submit]:hover {
background-color:#ffb347;
  box-shadow: 0px 15px 20px rgba(46, 350, 157, 0.4);
  color: #fff;
  transform: translateY(-6px);
}
input[type=submit]:hover,
.form-2{
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.3), 
        inset 0 20px 40px rgba(255,255,255,0.15);
}
.button{
  background-color: #FFFF6A;
  border: none;
  color: red;
  text-shadow: 1px 1px black;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
.button:hover{
	background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.LogOut
{
	background-color: #75FF5B;
	color:black;
	font-size: 21px;
	padding: 12px;
	padding-left:60px;
	padding-right:60px;
	border-radius:40px;
}
input
{
padding:13px 80px;
Font-size:15px;
Font-style:bold;
}
input[type=submit]:hover {
background-color:#ffb347;
  box-shadow: 0px 15px 20px rgba(46, 350, 157, 0.4);
  color: #fff;
  transform: translateY(-6px);
}
input[type=submit]:hover,
.form-2{
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.3), 
        inset 0 20px 40px rgba(255,255,255,0.15);
}

.inpset
{
background-color: #2EE59D;
color:black;
text-decoration:bold;
font-size: 21px;
padding: 10px;
padding-left:40px;
padding-right:40px;
border-radius: 45px;
}
.form-1 {
    /* Size and position */
    width: 380px;
    margin: 60px auto 30px;
    padding: 15px;
    position: relative;

    /* Styles */
    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}
#demotext {
color: #FFFFFF;
text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
color: #FFFFFF;
font-size:40px;
text-decoration:bold;
}
a
{
 background-color: #FFFF6A;
  border: none;
  color: red;
  text-shadow: 1px 1px black;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
padding: 12px 40px;
}
a:hover
{
background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.g{
	background-color: #FFFF6A;
  border: none;
  color: red;
  text-shadow: 1px 1px black;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}